@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;

    background-color: gray;
}

header {
    background-color: black;
    color: white;

    text-align: center;
}

header > h1 {
    padding-top: 50px;

    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: blue;

    text-decoration: none;

    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(53, 53, 53);
    color: white;
}

section.imagem > p {
    background-color: gray;
    width: 200px;
}

footer {
    background-color: black;
    color: white;

    text-align: center;

    padding: 10px;
}